<a href="https://colab.research.google.com/github/manjunathggaonkar/Programmings-Basic-PYTHON/blob/master/Numpy_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem Statement 1:

Write a function so that the columns of the output matrix are powers of the input
vector.
The order of the powers is determined by the increasing boolean argument. Specifically, when
increasing is False, the i-th output column is the input vector raised element-wise to the power
of N - i - 1.
HINT: Such a matrix with a geometric progression in each row is named for Alexandre-
Theophile Vandermonde.

Solution:

In [36]:
import numpy as np
a = np.array([3,2,6,5])
N = 3

np.column_stack([pow(a, (N-1-i)) for i in range(N)])

array([[ 9,  3,  1],
       [ 4,  2,  1],
       [36,  6,  1],
       [25,  5,  1]])

In [37]:
np.vander(a, N)  # using Alexandre- Theophile Vandermonde method

array([[ 9,  3,  1],
       [ 4,  2,  1],
       [36,  6,  1],
       [25,  5,  1]])

In [38]:
np.vander(a)

array([[ 27,   9,   3,   1],
       [  8,   4,   2,   1],
       [216,  36,   6,   1],
       [125,  25,   5,   1]])

In [39]:
np.vander(a, increasing=True)

array([[  1,   3,   9,  27],
       [  1,   2,   4,   8],
       [  1,   6,  36, 216],
       [  1,   5,  25, 125]])

In [0]:
Problem Statement 2:

Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:
The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below
i 1 2 3 4 5 6 7 8 9 10
===== == == == == == == == == == ==
Input 10 20 30 40 50 60 70 80 90 100
y1 25 = (10+20+30+40)/4
y2 35 = (20+30+40+50)/4
y3 45 = (30+40+50+60)/4
y4 55 = (40+50+60+70)/4
y5 65 = (50+60+70+80)/4
y6 75 = (60+70+80+90)/4
y7 85 = (70+80+90+100)/4
Thus, the moving average sequence has n-k+1=10-4+1=7 values.

Question: Write a function to find moving average in an array over a window:
Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

Solution:**we use np.cumsum to get a cumulative sum of the numbers**

In [13]:
import numpy as np
def moving_average(x, n=3) :
  ret = np.cumsum(x, dtype=float)   
  ret[n:] = ret[n:] - ret[:-n]        #We are breaking the array as per desired number which is 'n' in our function #and subtracting elements to get the desired result
  return ret[n-1:] / n
x = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
x1=np.array(x)
np.array(moving_average(x1,n=3))     # to find moving average in a array

array([  5.        ,   4.66666667,   5.66666667,   6.66666667,
         9.66666667,  28.66666667,  49.33333333,  72.66666667,
        84.        ,  93.33333333, 116.33333333])